<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	
	<appSettings>
		<add key="Browser" value="Firefox"/>
		<add key="DriverURL" value="https://www.saucedemo.com/"/>
		<add key="UserName" value="standard_user"/>
		<add key="Password" value="secret_sauce"/>
		<add key="ActualURL" value="https://www.saucedemo.com/inventory.html"/>
	</appSettings>
	
	
</configuration>